 /* reset css for consistent look in all browsers */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* Layout */
#container {
    width:920px;
    margin:10px auto;
}
#content {
    position: relative;
    width: 880px;
    margin: 40px auto 0px auto;
    min-height: 450px;
}
#header {
    font-size: 1.2em;
}
#header h1 {
    font-size: 180%;
    font-weight: bold;
    margin:0;
    padding:0;
}
#nav {
    float: right;
    padding-top: 10px;
}
#nav a {
    font-weight: normal;
}
#nav ul li {
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
}
#nav ul li a {
    display: block;
    padding: 1px 0;
    color: #347498;
    text-decoration: none;
}
#nav ul a:hover {
    color: #000;
}
#nav ul .last {
    border: none;
    margin-right: 0px;
    padding-right: 10px;
}
#nav ul .on a {
    color: #000;
    font-weight: bold;
    cursor: default;
}
#nav ul .on a:hover {
    color: #000;
}
.clearfix, .last, .on {
    display: block;
    margin-right: 0px;
    padding-right: 0px;
}
#footer {
    border-top: 1px solid #000;
    margin-left: 20px;
    margin-right: 20px;
}
 /* General layout */
body {
    font-size:95%;
    color:#222;
    background:#fff;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #347498;
}
a:hover {
    color: #275772;
}
h1, h2, h3 {
    font-weight:normal;
    color:#111;
}
h1 {
    font-size:2.2em;
    line-height:1;
    margin-bottom:0.5em;
}
h2 {
    font-size:2em;
    margin-bottom:0.75em;
}
h3 {
    font-size:1.5em;
    line-height:1;
    margin-bottom:1em;
}
.title a:hover {
    color: #347498;
}
/* Various div's */
.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* submenu links */
.sublinks {
    float: right;
    font-size: 90%;
    paddint-top: 10px;
}
.sublinks a {
    color: #205791;
}
.sublinks a:hover {
    color: #000;
}
.sublinks ul li {
    float: left;
    padding: 10px 8px 0px 8px;
    list-style: none;
}
/* Tables */
.detail-view {
    width: 400px;
}
/* other stuff */
.item-list {
    margin-left: 20px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 20px;
    padding-bottom: 40px;
}
.item-list td {
    padding: 2px;
}
.item-list th {
    font-weight: bold;
    border-bottom: 1px solid #000;
}
.rightalign {
    text-align: right;
    padding-right: 2px;
}
.item-list img {
    vertical-align:text-top;
    padding-right: 5px;
}
.nested {
    padding-left:26px !important;
}
.expand-folder img {
    float: right;
    padding: 5px;
}
.file-image {
    float:right;
    margin-right: 20px;
}
.file-image img {
    max-height: 350px;
    max-width: 500px;
}
.dl-image {
    width: 100px;
}
#mp3-player {
    float:right;
    margin-right: 20px;    
}
/* forms */
label {
    font-weight:bold;
}
input[type=text], input[type=password], input.text, textarea {
    background-color:#fff;
    border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, textarea:focus {
    border-color:#666;
}
select {
    background-color:#fff;
    border-width:1px;
    border-style:solid;
}
input[type=text], input[type=password], input.text, textarea, select {
    margin:0.5em 0;
}
input {
    width: 200px;
    padding: 5px;
}    
textarea {
    width:390px;
    height:250px;
    padding:5px;
}
.row {
    padding:5px;
 }
.error {
    background:#fbe3e4;
    color:#8a1f11;
    border-color:#fbc2c4;
}
.errorMessage {
    color:#8a1f11;
 }
.success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
}
.info {
    background:#d5edf8;
    color:#205791;
    border-color:#92cae4;
}
.error a, .alert a {
    color:#8a1f11;
}
.success a {
    color:#264409;
}
.info a {
    color:#205791;
}
.changelog {
    margin-left: 30px;
    font-family: monospace;
}
.todo-list li {
    margin-left: 50px;
    padding-bottom: 4px;
}
.empty-page {
    margin-top: 10%;
    font-style: italic;
    text-align: center;
    font-size: 125%;
}
.public-msg {
    color: green;
    font-style: italic;
}
/* shares */
#shares td {
    padding: 5px;
}
#shares th {
    font-weight: bold;
    border-bottom: 1px solid #000;
}
#shares td.action {
    text-align: center;
}
#shares td.username, #shares th.username {
    width: 300px;
}
#shares th.action, #shares td.action {
    width: 150px;
    text-align: center;
}
.add-share img, .action img {
    vertical-align: text-top;
}
.profile table {
    margin-left: 25%;
    width: 400px;
}
.v-centered {
    vertical-align: text-top;
}
#content h1 {
    border-bottom: 1px solid #000;
}
#loader-image {
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 4px;
    display: none;
}
#search {
   float: right;
   padding-right: 10px;
}
#search-field {
    border: 1px solid #CCC;
}
#search-image {
    vertical-align: middle;
}
.success {
    padding: 8px;
    margin: 10px;
    font-size: 110%;
    color: #264409;
    border: 1px solid #264409;
    border-radius: 5px;
}
.info {
    padding: 8px;
    margin: 10px;
    font-size: 110%;
    border: 1px solid #000090;
    border-radius: 5px;
}
.fblogin {
    font-size: 75%;
    font-style: italic;
}
.login-wrapper {
    position: relative;
}
.login {
    border-right: 1px solid #ccc;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 420px;
    margin-left: 10px;
    padding: 10px 50px 0px 10px;
}
.fb-login-box {
    position: absolute;
    top: 0px;
    left: 490px;
    width: 200px;
    height: 100px;
    margin-left: 50px;
    padding: 10px 50px 50px 50px;
}
.blur {
    color: #ccc;
}
#toggle_theme {
    font-size: 75%;    
}
.errorSummary {
    color: #900000;
}
.errorSummary ul {
    margin-left: 30px;
}