 /* General layout */
body {
    font-size:95%;
    color:#222;
    background:#fff;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #347498;
}
a:hover {
    color: #275772;
}
h1, h2, h3 {
    font-weight:normal;
    color:#111;
}
h1 {
    font-size:2.2em;
    line-height:1;
    margin-bottom:0.5em;
}
h2 {
    font-size:2em;
    margin-bottom:0.75em;
}
h3 {
    font-size:1.5em;
    line-height:1;
    margin-bottom:1em;
}
/* Various div's */
.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* submenu links */
.sublinks {
    float: right;
    font-size: 90%;
    paddint-top: 10px;
}
.sublinks a {
    color: #205791;
}
.sublinks a:hover {
    color: #000;
}
.sublinks ul li {
    float: left;
    padding: 10px 8px 0px 8px;
    list-style: none;
}
/* Tables */
.detail-view {
    width: 400px;
}
/* other stuff */
.item-list {
    width: 400px;
}
.item-list img {
    vertical-align:text-top;
    padding-right: 5px;
}
.nested {
    padding-left:25px;
}
.expand-folder img {
    float: right;
    padding: 5px;
}
.file-image {
    float:right;
    margin-right: 20px;
}
.file-image img {
    max-height: 350px;
    max-width: 500px;
}
.dl-image {
    width: 100px;
}
.done {
    text-decoration: line-through;
}
/* forms */
label {
    font-weight:bold;
}
input[type=text], input[type=password], input.text, textarea {
    background-color:#fff;
    border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus, input.text:focus, textarea:focus {
    border-color:#666;
}
select {
    background-color:#fff;
    border-width:1px;
    border-style:solid;
}
input[type=text], input[type=password], input.text, textarea, select {
    margin:0.5em 0;
}
input {
    width: 200px;
    padding: 5px;
}    
textarea {
    width:390px;
    height:250px;
    padding:5px;
}
.row {
    padding:5px;
 }
.error {
    background:#fbe3e4;
    color:#8a1f11;
    border-color:#fbc2c4;
}
.errorMessage {
    color:#8a1f11;
 }
.success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
}
.info {
    background:#d5edf8;
    color:#205791;
    border-color:#92cae4;
}
.error a, .alert a {
    color:#8a1f11;
}
.success a {
    color:#264409;
}
.info a {
    color:#205791;
}
.changelog {
    margin-left: 30px;
    font-family: monospace;
}
.todo-list li {
    margin-left: 50px;
    padding-bottom: 4px;
}
.empty-page {
    margin-top: 10%;
    font-style: italic;
    text-align: center;
    font-size: 125%;
}
.public-msg {
    color: green;
    font-style: italic;
}
/* shares */
#shares td {
    padding: 5px;
}
#shares th {
    font-weight: bold;
    border-bottom: 1px solid #000;
}
#shares td.action {
    text-align: center;
}
#shares td.username, #shares th.username {
    width: 300px;
}
#shares th.action, #shares td.action {
    width: 150px;
    text-align: center;
}
.add-share img, .action img {
    vertical-align: text-top;
}
.profile table {
    width: 600px;
}
.v-centered {
    vertical-align: text-top;
}
#content h1 {
    border-bottom: 1px solid #347498;
}
#loader-image {
    vertical-align: middle;
    padding-left: 20px;
    padding-bottom: 4px;
    display: none;
}
#search {
   float: right;
   padding-right: 10px;
}
#search-field {
    border: 1px solid #CCC;
}
#search-image {
    vertical-align: middle;
}
.success {
    padding: 8px;
    margin: 10px;
    font-size: 110%;
    color: #264409;
    border: 1px solid #264409;
}